p {
    margin: 0;
}

body {
    background: #f0f8ff;
}

.main {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo-holder {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #e0f0ff;
    display: flex;
    overflow: auto;
    padding: 15px;
    background: #fff;
    box-shadow: 0 0 13px #f1f1f1;
  }

video {width: 100%;}

